.slide-left-to-right {
    @keyframes SlideLeftToRight {
        from {
            opacity: 0;
            transform: translateX(-10px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    animation: SlideLeftToRight 0.25s ease-in;
}
.slide-right-to-left {
    @keyframes SlideRightToLeft {
        from {
            opacity: 0;
            transform: translateX(10px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    animation: SlideRightToLeft 0.25s ease-in;
}

.slide-bottom-to-top {
    @keyframes SlideBottomToTop {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    animation: SlideBottomToTop 0.25s ease-in;
}
.slide-top-to-bottom {
    @keyframes SlideBottomToTop {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    animation: SlideBottomToTop 0.25s ease-in;
}
.slide-top-to-bottom-exit {
    @keyframes SlideBottomToTopExit {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
    animation: SlideBottomToTopExit 0.25s ease-in;
}

.scale-up {
    @keyframes ScaleUp {
        from {
            opacity: 0;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    animation: ScaleUp 0.25s ease-in;
}


.skeleton-loader {
    overflow: hidden;
    position: relative;

    @keyframes load {
        from {
            left: -150px;
        }
        to {
            left: 100%;
        }
    }
    &::before {
        animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        background: linear-gradient(
            to right,
            transparent 0%,
            #ebeeef 50%,
            transparent 100%
        );
        content: "";
        display: block;
        height: 100%;
        left: -150px;
        position: absolute;
        top: 0;
        width: 150px;
    }
}