:root{

    --primary-color: #1155CB;
    --primary-color-dark:#1456CB;
    --primary-color-light:#BDD3F9;

    --secondary-color: #5888DB;
    --secondary-color-light:#F2F6FE;

    --tertiary-color: #07A88D;
    --success-color: #14B59A;
    --warn-color:#FABE5F;

    --border-color:#E7E7EC;
    --border-color-light:#f3f7f9;

    --accent-color: #09224F;

    --background-color: #f8f8fa;
    --font-color:#3C4557;
    --font-color-light:#707888;
    --font-color-white:#dddddd;
}