@font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 400;
    src: url("@/assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 500;
    src: url("@/assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 600;
    src: url("@/assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 700;
    src: url("@/assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: RobotoMono;
    font-weight: 400;
    src: url("@/assets/fonts/roboto/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: RobotoMono;
    font-weight: 500;
    src: url("@/assets/fonts/roboto/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: RobotoMono;
    font-weight: 600;
    src: url("@/assets/fonts/roboto/RobotoMono-SemiBold.ttf") format("truetype");
}