
body {
    color: var(--color-font);
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.2;


    h1,
    h2,
    h3,
    h4,
    h5,
    span,
    p,
    pre,
    label {
        color: var(--color-font);
        font-family: "Inter", sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    a {
        outline: none;
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }
    input,
    textarea {
        color: var(--color-font);
    }
}

.ellipsis {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    // text-overflow: ellipsis;
    &:not(:hover) {
        text-overflow: ellipsis;
    }
    /* animate on either hover or focus */
}
.marquee {
    &:hover {
        span {
            animation-delay: 0s;
            animation-direction: normal;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-name: scroll-text;
            animation-timing-function: linear;
            display: inline-block;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            /* FYI this would be the shorthand:
        animation: scroll-text 5s ease 0s 2 normal;
      */
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    /* define the animation */
    @keyframes scroll-text {
        0% {
            transform: translateX(0%);
        }
        90% {
            transform: translateX(-100%);
        }
        95% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}
